h1 Welcome to our school .
hr

div(class="home_content")  
    img(id="image1" src="img1.png", alt="image1")

    #enquiryForm
        h2 Get Connect With Us
        br
        input(type="text" placeholer="Name")
        input(type="text" placeholer="Your E-mail Address")
        input(type="text" placeholer="Contact No.")
        textarea(cols="40", rows="5" placeholer="address")
        button(type="button") Get Started Now!!!
    div(style="float: left")
        #notification
            span(id="notice"): b NOTICE
            ul
                li 
                    a(href="#") Admission Open
                li 
                    a(href="#") Exam's shedule available
                li 
                    a(href="#") New class routine available
                li 
                    a(href="#") new books available

        #rightSideBar
            span(id="contactUs"): b Contact Us
            a(href="web.whatsapp.com")
                img(src="whatsapp.png")
            a(href="www.facebook.com")
                img(src="facebook.png")
            a(href="www.instagram.com")
                img(src="instagram.png")
            a(href="www.twitter.com")
                img(src="twitter.png")
            a(href="www.telegram.com")
                img(src="telegram.png")
    .home_content_container   
        div 
            h2 “OurSchool – Web based School Management System .”
            br
            p The multi-featured Online School Management System from MyiSchool Software which helps to manage the entire administration process as well as maintains the record of other activities related to students and staff, online. This software can also be termed as Online School Management Information System Software consisting of modules like Attendance of students, Timetable, Examination, School News and Events, Results, etc. It also consists of the other modules like Human Resource Management, Transport Management, and Library Management for better administration of the school/ college. MyiSchool is easily accessible and can be used by any individual having basic knowledge of using computers. The technical person is not compulsorily required to operate the software. MyiSchool Web Based School management system is designed to help the schools/ colleges in maintaining the easy flow of working in the institution.
        