h1 School Memories And Honours


span(class="btn"): b Classrooms
span(class="btn"): b Trips
span(class="btn"): b Education

div(class="container")

  div(class="mySlides")
    div(class="numbertext") 1 / 6
      img(src="1.jpg" style="width:100%")

  div(class="mySlides")
    div(class="numbertext") 2 / 6
      img(src="2.jpg" style="width:100%")

  div(class="mySlides")
    div(class="numbertext") 3 / 6
      img(src="3.jpg" style="width:100%")

  div(class="mySlides")
    div(class="numbertext") 4 / 6
      img(src="4.jpg" style="width:100%")

  div(class="mySlides")
    div(class="numbertext") 5 / 6
      img(src="5.jpg" style="width:100%")

  div(class="mySlides")
    div(class="numbertext") 6 / 6
      img(src="6.jpg" style="width:100%")

 
  a(class="prev" onclick="plusSlides(-1)") &#10094;
  a(class="next" onclick="plusSlides(1)") &#10095;

  div(class="caption-container")
    p(id="caption")

//-   div(class="row")
//-     div(class="column")
//-       img(class="demo cursor" src="1.jpg" style="width:200px%" onclick="currentSlide(1)" alt="image1")
    
//-     div(class="column")
//-       img(class="demo cursor" src="2.jpg" style="width:200px%" onclick="currentSlide(2)" alt="iamge2")
  
//-     div(class="column")
//-       img(class="demo cursor" src="3.jpg" style="width:200px%" onclick="currentSlide(3)" alt="image3")
    
//-     div(class="column")
//-       img(class="demo cursor" src="4.jpg" style="width:200px%" onclick="currentSlide(4)" alt="image4")
    
//-     div(class="column")
//-       img(class="demo cursor" src="5.jpg" style="width:200px%" onclick="currentSlide(5)" alt="image5")
    
//-     div(class="column")
//-       img(class="demo cursor" src="6.jpg" style="width:200px%" onclick="currentSlide(6)" alt="image6")

