*{
    margin : 0;
    padding: 0;
}
.content{
    float: left;
    width: 83%;
    padding: 10px;
}

body {
    background-image: url("blackboard.jpg");
    overflow-x: hidden;
    overflow-y: auto;
    background-attachment: fixed;
}