<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    style
        include ./header/header.css
        include home.css
        include ./navbar/navbar.css
        include ./sidebar/sidebar.css
        include ./footer/footer.css
        include ./content/login_content.css


        title Login

    body
        .header
            include ./header/header.pug
        .navbar
            include ./navbar/navbar.pug
        .sidebar
            include ./sidebar/sidebar.pug
        .content
            include ./content/login_content.pug
        .footer
            include ./footer/footer.pug

        script
            include ./sidebar/sidebar.js
