#footer
    span(id="head") Our Contacts : 
    br
    span(class=" font fa fa-phone") &nbsp; &nbsp; 0612-123456 
    br
    span(class=" font fa fa-envelope-o") &nbsp; &nbsp; ourschool@gmail.com 
    br
    span(class=" font fa fa-map-marker") &nbsp; &nbsp;  localhost:8000