div(class="sidenav")
  
    button(class="dropdown-btn") Dash board
        i(class="fa fa-caret-down")
    div(class="dropdown-container")
        a(href="#") Admin
        a(href="#") Student
        a(href="#") Parent
        a(href="#") Teacher
        a(href="#") Librarian

    button(class="dropdown-btn") Students
        i(class="fa fa-caret-down")
    div(class="dropdown-container")
        a(href="#") All Students
        a(href="#") Student
        a(href="#") Add student
       
    button(class="dropdown-btn") Parents
        i(class="fa fa-caret-down")
    div(class="dropdown-container")
        a(href="#") All Parents
        a(href="#") Parent
        a(href="#") Add Parent   
    
    button(class="dropdown-btn") Teachers
        i(class="fa fa-caret-down")
    div(class="dropdown-container")
        a(href="#") All Teachers
        a(href="#") Teachers
        a(href="#") Add Teachers
    
    button(class="dropdown-btn") Library
        i(class="fa fa-caret-down")
    div(class="dropdown-container")
        a(href="#") All Books
        a(href="#") Add New Books
    
    button(class="dropdown-btn") Accounts
        i(class="fa fa-caret-down")
    div(class="dropdown-container")
        a(href="#") Admin
        a(href="#") Students
        a(href="#") Teachers
    
    button(class="dropdown-btn") Attendence
        i(class="fa fa-caret-down")
    div(class="dropdown-container")
        a(href="#") Teachers
        a(href="#") Studenst
        a(href="#") All Teachers
        a(href="#") All Students

    a(href="#") Class
    a(href="#a") Subject
    a(href="#") Class Routine
    a(href="#") Exam