
img(id="logo" src="logo.png" alt="logo")
a(href="/") Home
a(href="image") Image
a(href="admission") Admission
div(class="dropdown")
  button(class="dropbtn") Login &nbsp;
    i(class="fa fa-caret-down")

  div(class="dropdown-content")
    a(href="student_login") Students
    a(href="parent_login") Parents
    a(href="teacher_login") Teachers
    a(href="librarian_login") Librarian
    a(href="admin_login") Admin.


